<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mwongela.regionalsustainabilitynetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FirebaseHandler"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_rsn_africa"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".ceal.CealFour" />
        <activity android:name=".ceal.CealThree" />
        <activity android:name=".ceal.CealTwo" />
        <activity android:name=".cadim.CadimFour" />
        <activity android:name=".cadim.CadimThree" />
        <activity android:name=".cadim.CadimTwo" />
        <activity android:name=".SingleSurvey" />
        <activity android:name=".SingleProjectActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".NoFutherQuestions" />
        <activity android:name=".SingleEventActivity" />
        <activity android:name=".can.CanFour" />
        <activity android:name=".can.CanThree" />
        <activity android:name=".can.CanTwo" />
        <activity
            android:name=".rsn.QuestionFour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rsn.QuestionTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ceal.CealOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cadim.CadimOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".can.CanOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rsn.QuestionFive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rsn.QuestionThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rsn.QuestionOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SinglePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:parentActivityName=".BlogDisplayActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BlogDisplayActivity" />
        </activity>
        <activity android:name=".BlogDisplayActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/rsn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/rsn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/rsn"
            android:screenOrientation="portrait" />
        <activity android:name=".EventActivity" />
        <activity
            android:name=".ProjectActivity"
            android:label="@string/rsn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>